/*
body  {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #cfd6da;
	margin:auto;
}

h1, h2, h3 {
	text-align : center;
}

hr {
	border-top: 1px solid #222 !important;
}

div.center {
	text-align : center;
}

/* header */
 
#logo {
	width : 150px;
}
/*
header ul.menu {
	float: right;
	display: block;
    list-style-type: none;
    padding: 0;
}

header ul.menu li {
	display: block;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}

header ul.menu a {
	border: 1px solid #000;
	border-radius : 5px;
	color: #000;
	cursor: pointer;
	padding: 10px;
}

header ul.dropdown-menu a {
	border: none;
	color: #000;
	padding: 5px;
	border-radius : 0px;
}

/* fin header */

/* Main content */
/*
#main-content {
	margin-top : 55px;
}

.required {
    color: #ff0000;
    margin-left: 5px;
}

/* fin Main content */

/* footer */
/*
footer {
	background-image : linear-gradient(#222, #222);
	clear : both;
	color : #FFF;
	margin-top : 20px;
	text-align : center;
}

footer a {
	color : #FFF;
}

img.social-media {
	width : 50px;
}

/* fin footer */

